#header{
  background-color: #fff !important;
  color: #ff0000 !important;
  box-shadow: 0px 0px 3px 0px #141313;
}

#header a:link, #header a:visited {
    color: #222121 !important;
}


div.breadcrumbs {
    background: #333;
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: #c4dce8;
    text-align: left;
}

#changelist-filter h2 {
    background: #333;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button{
    background: #333;
}

.button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover {
    background: #120505ad;
}

.button.default, input[type=submit].default, .submit-row input.default{
    background: #333;
}

.button.default:active, input[type=submit].default:active, .button.default:focus, input[type=submit].default:focus, .button.default:hover, input[type=submit].default:hover {
    background: #120505ad;
}

a:link, a:visited {
    color: #000000;
    text-decoration: none;
}

.module h2, .module caption, .inline-group h2 {
    background: #000000;
}